---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
	const projects = await getCollection("projects");

	return projects.map((project) => ({
		params: { title: project.slug },
		props: { project }
	}))
}

const { project } = Astro.props
const { data } = project
const { title } = data

const { Content } = await render(project)
---

<Layout title={title}>
	<main class="m-4">
		<h1 transition:name="title-proj">{title}</h1>
		<Content/>
	</main>
</Layout>
