.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 570px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
.abcard {
    padding: 0 10px;
    margin: 1.5rem 1rem;
    flex-direction: row;
    color: #fff;
    display: flex;
    background-color: #1a1a1a ;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s;
}
.abcard .image {
    filter: grayscale(100%);
    margin: 8px;
    max-width: 8rem;
    transition: all 0.2s;
}
.abcard .image img {
    border-radius: 2px;
    width: 100%;
    display: block;
}
#about-card > .content > h2 {
    width:min-content;
    padding: 0 3px;
    background-image: linear-gradient(#c961c3, #c961c3);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
#skill-card > .content > h2 {
    width:max-content;
    padding: 0 3px;
    background-image: linear-gradient(#61b1c9, #61b1c9);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
#about-card:hover {
    box-shadow: 0px 0px 7px 0px #c961c3;
}
#about-card:hover > .content > h2 {
    background-size: 100% 2px;
}
#skill-card:hover {
    box-shadow: 0px 0px 7px 0px #61b1c9;
}
#skill-card:hover .content > h2 {
    background-size: 100% 2px;
}
.abcard .content {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    text-align: top;
    margin: 5px 2px;
}
.abcard #about {
    display: block;
    padding: 6px;
}
#about > p {
    font-size: 14px;
}
.abcard:hover > .image {
    filter: grayscale(0%);
}