---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
	const posts = await getCollection("posts");

	return posts.map((post) => ({
		params: { title: post.slug },
		props: { post }
	}))
}

const { post } = Astro.props
const { data } = post
const { title } = data

const { Content } = await render(post)
---

<Layout title=`${title} | Syltr1x`>
	<main class="m-4 flex flex-col items-center justify-center">
		<div class="flex flex-col mx-auto text-wrap md:max-w-[70%] lg:max-w-[50%] lg:w-[50%] max-w-[90%]">
			<a href="/posts" class="hover:underline place-self-start mb-6 opacity-70">← Back</a>
			<h1 class="text-4xl place-self-start mb-4 font-bold">{title}</h1>
			<Content class="mb-50"/>
		</div>
	</main>
</Layout>
