@import url('https://cdn.jsdelivr.net/npm/nerd-fonts@2.1.0/css/hack.css');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
	color: #aaa;
	background-color: #111;
}

nav {
    background-color: #3d3d3d;
    display: flex;
    padding: 0.8rem;
    justify-content: center;
}

ul > li {
    display: inline;
}

li > a {
    padding: 1.2rem;
    color: aliceblue;
}
/* Projects Styles*/
.card {
	color: #fff;
    margin: 2rem;
    max-width: 40rem;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card .image {
    max-width: 45%;
    flex: 0 0 auto;
}

.card .image img {
    border-radius: 2px;
    width: 100%;
    display: block;
    padding: 3px 3px;
}

.card .content {
	color: #fff;
    padding: 6px 12px;
}
.card:hover .image {
    box-shadow: #eeea 0px 0px 10px;
}
/* Blog Styles */
.code-section {
	margin: 1rem 2rem;
	padding:0.3rem;
	overflow: hidden;
	border: 1px solid #aaa;
	border-radius: 0.4rem;
	background-color: #333;
	color: #ddd;
	font-family: 'Hack Nerd Font', monospace;
}
.card2 {
    max-width: 15rem;
    flex-direction: column;
    color: #fff;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.card2 .image {
    max-width: 15rem;
}
.card2 .image img {
    border-radius: 2px;
    width: 100%;
    display: block;
}
.card2 .content {
    margin: 5px 2px;
}
.content > h3{
    text-decoration: underline;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    text-decoration: underline;
}
tr:nth-child(even) {
    background-color: #232323;
}
#abcard {
    flex-direction: row;
    color: #fff;
    margin: 2rem;
    display: inline-flex;
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
#abcard .image {
    margin: 8px;
    max-width: 8rem;
}
#abcard .image img {
    border-radius: 2px;
    width: 100%;
    display: block;
}
#abcard .content {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    text-align: top;
    margin: 5px 2px;
}
#abcard #about {
    display: block;
    padding: 6px;
}
#about > h4 {
    text-decoration: underline2;
}