---
import '/src/styles/global.css' 
const { title, desc } = Astro.props;
import { ClientRouter } from 'astro:transitions';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={desc}>
		<title>{title} | Syltr1x</title>
		<ClientRouter />
	</head>
	<body class="dark:bg-[#111] dark:text-[#fff]">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
